In [ ]:
# 引入数据分析库
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pyecharts.globals import CurrentConfig, NotebookType
from pyecharts import options as opts
from pyecharts.charts import Line
from pyecharts.charts import Bar
from pyecharts.charts import Funnel

In [ ]:
#数据读取
columns=["userid", 'itemid', 'categoryid', 'type', 'timestamp']

df = pd.read_csv('../data/raw/UserBehavior.csv',names = columns, nrows = 5000000)

#数据预览
df.head()

   userid   itemid  categoryid type   timestamp
0       1  2268318     2520377   pv  1511544070
1       1  2333346     2520771   pv  1511561733
2       1  2576651      149192   pv  1511572885
3       1  3830808     4181361   pv  1511593493
4       1  4365585     2520377   pv  1511596146

In [2]:
# 查看缺失值
df.isnull().sum()

userid        0
itemid        0
categoryid    0
type          0
timestamp     0
dtype: int64

In [3]:
# 查看数据信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   userid      int64
 1   itemid      int64
 2   categoryid  int64
 3   type        object
 4   timestamp   int64
dtypes: int64(4), object(1)
memory usage: 190.7+ MB

In [4]:
df.nunique()

userid          48984
itemid        1080623
categoryid       7354
type                4
timestamp      719687
dtype: int64